* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background: #e4b6b6;
}

.cont1 {

    height: 6px;
    left: 0px;
    top: 0px;

    background: linear-gradient(90deg, #00C65E 26.28%, rgba(0, 198, 94, 0) 101.66%);
}



